{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block content %}


{% if page.object_list.count > 0  %}
	{% include "includes/bookmark_nav.html" %}
{% endif %}

{% for bookmark in page.object_list %}
	<p><a href="{{ bookmark.url }}" target="_blank">
		<strong>{% if bookmark.title %}
			{{ bookmark.title }}
		{% else %}
			{{ bookmark.url }}
		{% endif %}</strong></a> [<a href="{% url 'bookmark_edit' bookmark.id %}">{% trans 'edit' %}</a>]<br/>
	{% for bt in bookmark.tags.all %}
		{{ bt.name }}
	{% endfor %}
		
		
	</p>
{% endfor %}

{% if page.object_list.count > 0  %}
	{% include "includes/bookmark_nav.html" %}
{% endif %}
	
{% endblock %}
