{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_scripts %}
<link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui.min.css' %}">
<script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
<script id="tag-autocomplete-script"
        src="{% static 'notes/tag-autocomplete.js' %}"
        data-autocomplete-url="{% url 'notes:tag-autocomplete' %}"></script>

{% endblock extra_scripts %}
{% load crispy_forms_tags %}

{% block content %}
<h1>{{ title }}</h1>

{% crispy form %}

{% endblock %}
