{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load custom_filters %}

{% block content %}

{% include "includes/task_header.html" %}

{% if overdue %}
	<h2>{% trans "Overdue" %} ({{ overdue|length }})</h2>
	<div class="container mt-5">
	{% for note in overdue %}
		{% include "includes/note_row.html" %}
	{% endfor %}
	</div>
{% endif %}

{% if today %}
	<h2>{% trans "Today" %} ({{ today|length }})</h2>
	<div class="container mt-5">
	{% for note in today %}
		{% include "includes/note_row.html" %}
	{% endfor %}
	</div>
{% endif %}

{% if reminder %}
	<h2>{% trans "Reminder" %} ({{ reminder|length }})</h2>
	<div class="container mt-5">
	{% for note in reminder %}
		{% include "includes/note_row.html" %}
	{% endfor %}
	</div>
{% endif %}

{% if tomorrow %}
	<h2>{% trans "Tomorrow" %} ({{ tomorrow|length }})</h2>
	<div class="container mt-5">
	{% for note in tomorrow %}
		{% include "includes/note_row.html" %}
	{% endfor %}
	</div>
{% endif %}

{% if next_week %}
	<h2>{% trans "Next week" %} ({{ next_week|length }})</h2>
	<div class="container mt-5">
	{% for note in next_week %}
		{% if not forloop.first and note.due_date != next_week|get_previous_due_date:forloop.counter0 %}
            <hr class="darker-hr">
        {% endif %}
		{% include "includes/note_row.html" %}
	{% endfor %}
	</div>
{% endif %}

{% if next_month %}
	<h2>{% trans "Next month" %} ({{ next_month|length }})</h2>
	<div class="container mt-5">
	{% for note in next_month %}
		test
		{% if not forloop.first and note.due_date != next_month|get_previous_due_date:forloop.counter0 %}
            testhr<hr class="darker-hr">
        {% endif %}
		{% include "includes/note_row.html" %}
	{% endfor %}
	</div>
{% endif %}


{% endblock %}
