{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block content %}

<a href="{% url 'notes:add' %}?type=task" class="btn btn-primary">Add</a>

<a href="{% url 'notes:tasks_tags_home' %}" class="btn btn-primary">Task Tags</a>

<a href="?completed=true" class="btn btn-primary">{% trans 'Show Completed' %}</a>
<a href="?completed=false" class="btn btn-primary">{% trans 'Hide Completed' %}</a>

{% if overdue %}
	<h2>{% trans "Overdue" %} ({{ overdue|length }})</h2>
	<div class="container mt-5">
	{% for note in overdue %}
		{% include "includes/note_row.html" %}
	{% endfor %}
	</div>
{% endif %}

{% if today %}
	<h2>{% trans "Today" %} ({{ today|length }})</h2>
	<div class="container mt-5">
	{% for note in today %}
		{% include "includes/note_row.html" %}
	{% endfor %}
	</div>
{% endif %}

{% if reminder %}
	<h2>{% trans "Reminder" %} ({{ reminder|length }})</h2>
	<div class="container mt-5">
	{% for note in reminder %}
		{% include "includes/note_row.html" %}
	{% endfor %}
	</div>
{% endif %}

{% if tomorrow %}
	<h2>{% trans "Tomorrow" %} ({{ tomorrow|length }})</h2>
	<div class="container mt-5">
	{% for note in tomorrow %}
		{% include "includes/note_row.html" %}
	{% endfor %}
	</div>
{% endif %}

{% if next_week %}
	<h2>{% trans "Next week" %} ({{ next_week|length }})</h2>
	<div class="container mt-5">
	{% for note in next_week %}
		{% include "includes/note_row.html" %}
	{% endfor %}
	</div>
{% endif %}

{% if next_month %}
	<h2>{% trans "Next month" %} ({{ next_month|length }})</h2>
	<div class="container mt-5">
	{% for note in next_month %}
		{% include "includes/note_row.html" %}
	{% endfor %}
	</div>
{% endif %}

<div class="container mt-5">
<a href="{% url 'notes:tasks_future' %}" class="btn btn-primary">{% trans "Future" %}</a>
</div>

{% endblock %}
