{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block content %}

<h2>{% for t in tags %}{{ t.name }}&nbsp;{% endfor %}</h2>

<p>Order by:
    <a href="?order=-create_date">- Create Date</a> |
    <a href="?order=create_date">Create Date</a> |
    <a href="?order=-update_date">-Update Date</a> |
    <a href="?order=update_date">Update Date</a> |
    <a href="?order=title">A-Z</a> |
    <a href="?order=-title">Z-A</a> |
</p>

<div class="container mt-5">
{% for note in notes %}
	{% include "includes/note_row.html" %}
{% endfor %}
</div>

{% endblock %}