{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block content %}

<a href="{% url 'notes:home' %}" class="btn btn-primary">{% trans 'Home' %}</a>

<a href="{% url 'notes:add' %}?type=task&tags={{ tag.name }}" class="btn btn-primary">{% trans 'Add' %}</a>

<a href="{% url 'notes:tasks_tags_home' %}" class="btn btn-primary">{% trans 'Task Tags' %}</a>

<h2>{% trans "Tasks" %} {% if tag %}- {{ tag.name }}{% endif %}</h2>

<a href="?completed=true" class="btn btn-primary">{% trans 'Show Completed' %}</a>
<a href="?completed=false" class="btn btn-primary">{% trans 'Hide Completed' %}</a>

{% include "includes/pagination.html" %}

<div class="container mt-5">
{% for note in tasks %}
	{% include "includes/note_row.html" %}
{% endfor %}
</div>

{% include "includes/pagination.html" %}

{% endblock %}
