{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block content %}

<a href="{% url 'notes:add' %}?type=task" class="btn btn-primary">Add</a>

<h2>{% trans "Tags dated" %}</h2>
<ul>
{% for tag in tags_dated %}
	<li><a href="{% url 'notes:tag_tasks' tag.slug %}">{{ tag.name }}</a> ({{tag.note_count }})</li>
{% endfor %}
</ul>

<h2>{% trans "Tags undated" %}</h2>
<ul>
{% for tag in tags_undated %}
	<li><a href="{% url 'notes:tag_tasks' tag.slug %}">{{ tag.name }}</a> ({{tag.note_count }})</li>
{% endfor %}
</ul>

{% endblock %}