{% load i18n %}
{% load static %}
{% block content %}
	    <!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

  
  <a class="navbar-brand" href="{% url 'notes:home' %}">
    {% trans 'Notes/Tasks' %}
  </a>
   <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-dark"></span>
    </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" >
        <li class="nav-item"><a href="{% url 'notes:notes' %}" class="nav-link">{% trans 'Notes' %}</a></li>
        <li class="nav-item"><a href="{% url 'notes:add' %}" class="nav-link">{% trans 'Add Note' %}</a></li>
        <li class="nav-item"><a href="{% url 'notes:search' %}" class="nav-link">{% trans 'Search' %}</a></li>
        <li class="nav-item"><a href="{% url 'notes:favs' %}" class="nav-link">{% trans 'Favourites' %}</a></li>
        <li class="nav-item"><a href="{% url 'notes:tags' %}" class="nav-link">{% trans 'Tags' %}</a></li>
        <li class="nav-item"><a href="{% url 'admin:index' %}" class="nav-link">{% trans 'Admin' %}</a></li>
        <li class="nav-item"><a href="{% url 'assistant:home' %}" class="nav-link">{% trans 'Assistant' %}</a></li>
    </ul>

  </div>
    </div>
</nav>
	    
	    
{% endblock content %}