{% load i18n %}
{% load static %}
<p>
		<strong>{{ note.due_date }} - {{ note.title }}</strong>
		[<a href="{% url 'notes:edit' note.id %}">{% trans 'edit' %}</a> |
		<a href="{% url 'notes:complete_task' note.id %}">{% trans 'complete' %}</a>]<br/>
	{% for nt in note.tags.all %}
		<a href="{% url 'notes:tag_view' nt.slug %}">{{ nt.name }}</a>
	{% endfor %}
	<small>
	</small><br/>
	{% if note.description %}
		<div type="button" id="desc-{{ note.id }}-toggle" value="Toggle Div">Show description</div>
		<div id="desc-{{ note.id }}">
			{{ note.description|safe }}
		</div>
	{% endif %}
</p>