{% load i18n %}
{% load static %}
{% load humanize %}

<div class="task-container">
	<a href="{% url 'notes:complete_task' note.id %}">
		<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
		  <circle cx="12" cy="12" r="10" fill="darkgrey" />
		  <path d="M6.5 12.5L9.5 15.5L17.5 7.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="miter" fill="none"/>
		</svg></a>
	<div class="task-text">
		<strong><a href="{% url 'notes:edit' note.id %}">{{ note.title }}</a></strong><br/>
		{% for nt in note.tags.all %}
			<a href="{% url 'notes:tag_tasks' nt.slug %}">{{ nt.name }}</a>
		{% endfor %}
		{% if note.due_date %} | {{ note.due_date|naturalday }}{% endif %}
		{% if note.description %}
			<div type="button" id="desc-{{ note.id }}-toggle" value="Toggle Div">Show description</div>
			<div id="desc-{{ note.id }}">
				{{ note.description|safe }}
			</div>
	{% endif %}
	</div>
</div>
