{% load i18n %}
<p><a href="{{ bookmark.url }}" target="_blank">
		<strong>{% if bookmark.title %}
			{{ bookmark.title }}
		{% else %}
			{{ bookmark.url }}
		{% endif %}</strong></a> [<a href="{% url 'bookmark:edit' bookmark.id %}">{% trans 'edit' %}</a>]<br/>
	{% for bt in bookmark.tags.all %}
		<a href="{% url 'bookmark:tag_view' bt.slug %}">{{ bt.name }}</a>
	{% endfor %}
	<small>
		[{{ bookmark.create_date }}] 
	
		{% if bookmark.link_check_result %}
			{% if bookmark.link_check_result == "OK" %}
				<span class="status_ok">[OK]</span>
			{% else %}
				<span class="status_error">[error]</span>
			{% endif %}
		{% endif %}
	</small>
</p>