{% load i18n %}
{% load staticfiles %}
{% block content %}
	    <!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <a class="navbar-brand" href="{% url 'bookmark:home' %}">
    {% trans 'Bookmarks' %}
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
		  		<li class="nav-item"><a href="{% url 'bookmark:add' %}" class="nav-link">{% trans 'Add Bookmark' %}</a></li>
		  		<li class="nav-item"><a href="{% url 'bookmark:search' %}" class="nav-link">{% trans 'Search' %}</a></li>
		  		<li class="nav-item"><a href="{% url 'bookmark:favs' %}" class="nav-link">{% trans 'Favourites' %}</a></li>
		  		<li class="nav-item"><a href="{% url 'bookmark:tags' %}" class="nav-link">{% trans 'Tags' %}</a></li>
		    </ul>

  </div>
</nav>
	    
	    
{% endblock content %}