{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block extra_styles %}
 <link rel="stylesheet" type="text/css" href="{% static 'assistant/css/style.css' %}">
{% endblock extra_styles %}


{% block content %}

<h1>{% trans 'Assistant' %}</h1>


<main>
      <div class="chatbot">

        <div class="spacer" id="messages-container"></div>

        <form class="chat-form" id="message-form">
            {% csrf_token %}
          <textarea type="text" name="question" id="question" placeholder="Send a message..."></textarea>
          <button type="submit">➤</button>
        </form>
      </div>
    </main>
    <!--end chatbot container-->

    <!--Javascript to call the language model-->
    <script src="{% static 'assistant/chatscript.js' %}"
            defer
            data-userimage="{% static 'assistant/human.png' %}"
            data-posturl="{% url 'assistant:home' %}"
            data-botimage="{% static 'assistant/bot_logo.png' %}"
            data-errorimage="{% static 'assistant/error.png' %}">
    </script>
    <!--end Javascript to call the language model-->

{% endblock content %}

